*{
  margin:0
}

.app{
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage{
  margin-left: 10px;
  object-fit: contain;
}

.app__posts{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.post{
  max-width: 500px;
  border: 1px solid lightgray;
  background-color: white;
  margin-bottom: 45px;
}


.post__image{
  width:100%;
  object-fit:contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text{
  font-weight: normal;
  padding: 20px;
}

.post__header{
  display: flex;
  align-items: center;
  padding: 10px;
}
.post__avatar{
  margin-right: 10px;
}

.post__comments{
  padding: 20px;
}

.post__commentbox{
  display: flex;
  margin-top: 10px;
}

.post__input{
  border: none;
  flex:1;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button{
  flex: 0;
}

.imageupload{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-top: 1px solid lightgray;
}

.imageupload__progress{
  width: 100%;
}